site_name: CL Forge User Guide
site_description: Simple yet powerful Chilean tools written in Rust and Python
site_url: https://mschiaff.github.io/cl-forge/
repo_url: https://github.com/mschiaff/cl-forge
repo_name: mschiaff/cl-forge

docs_dir: docs

nav:
  - Get Started:
    - Welcome to CL Forge: index.md
    - Installation: install.md
    - Contributing: contributing.md
  - API Reference:
      - CMF:
          - CmfClient: api/cmf/base_client.md
          - CmfEndpoint: api/cmf/base_endpoint.md
          - Ipc: api/cmf/ipc.md
          - Usd: api/cmf/usd.md
          - Eur: api/cmf/eur.md
          - Uf: api/cmf/uf.md
          - Utm: api/cmf/utm.md
      - Schemas: core/schemas.md
      - Exceptions: api/exceptions.md

extra_css:
  - 'extra/tweaks.css'

theme:
  name: material
  locale: en
  logo: assets/logo.png
  favicon: assets/images/favicon.png
  icon:
    repo: fontawesome/brands/github
  palette:
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: custom
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: custom
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - content.code.copy
    - content.tabs.link
    - navigation.sections
    - navigation.tabs
    - navigation.path
    - navigation.top
    - search.suggest
    - toc.follow

markdown_extensions:
  - attr_list
  - admonition
  - toc:
      permalink: true
      title: Page Contents
  - pymdownx.extra
  - pymdownx.details
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.inlinehilite
  - pymdownx.highlight:
      pygments_lang_class: true
  - pymdownx.tabbed:
      alternate_style: true
      slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

plugins:
  - search:
      lang: en
  - mkdocstrings:
      handlers:
        python:
          inventories:
            - url: https://docs.python.org/3/objects.inv
              domains: [ py, std ]
          options:
            members_order: source
            separate_signature: true
            docstring_options:
              ignore_init_summary: true
            merge_init_into_class: true
            filters: ['!^_']
            show_signature_annotations: true
            show_root_heading: true
            show_symbol_type_heading: true
            show_symbol_type_toc: true
            show_signature_type_parameters: true
            show_overloads: false
            show_labels: true
            docstring_style: numpy
            #scoped_crossrefs: true
            #relative_crossrefs: true
            signature_crossrefs: true
            #show_source: false
            #show_root_full_path: false
            inherited_members: true
            show_if_no_docstring: true
            extensions:
              - griffe_pydantic:
                  schema: true